<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('movie_list') }}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_list') }}">Actors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('new_movie') }}>New Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('new_actor') }}">New Actor</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="navbar-brand" href="#">Cinema Application</a>
        </form>
    </div>
</nav>