{% extends 'base.html.twig' %}

{% block title %}Cinema Application{% endblock %}

{% block body %}
    {% if actors %}
        <table id="actors" class="table table-striped">
            <thead>
            <tr>
                <th>Actor Name</th>
                <th>Actor Age</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for actor in actors %}
                <tr>
                    <td>{{ actor.actorName }}</td>
                    <td>{{ actor.age }}</td>
                    <td>
                        <a href="/actor/{{ actor.id }}" class="btn btn-dark">Show</a>
                        <a href="/actor/edit/{{ actor.id }}" class="btn btn-light">Edit</a>
                        <a href="/actor/delete/{{ actor.id }}" class="btn btn-danger delete-actor" data-id="{{ actor.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Actors to display</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}