{% extends 'base.html.twig' %}

{% block title %}Cinema Application{% endblock %}

{% block body %}
    {% if movies %}
        <table id="movies" class="table table-striped">
            <thead>
            <tr>
                <th>Movie Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.movieName }}</td>
                    <td>
                        <a href="/movie/{{ movie.id }}" class="btn btn-dark">Show</a>
                        <a href="/movie/edit/{{ movie.id }}" class="btn btn-light">Edit</a>
                        <a href="/movie/delete/{{ movie.id }}" class="btn btn-danger delete-movie" data-id="{{ movie.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Movies to display</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}