{% extends 'base.html.twig' %}

{% block title %}Cinema Application{% endblock %}

{% block body %}
    <h1>{{ movie.movieName }}&nbsp;({{ movie.releaseYear }})</h1>
    <hr>
    <img src="/images/{{ movie.image }}", alt="Örnek Resim"
        width="200" height="200"
    />
    <hr>
    <div align="center"><h1>Oyuncular</h1></div>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Actor Name</th>
            <th>Actor Age</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in movie.getActors() %}
            <tr>
                <td>{{ actor.actorName }}</td>
                <td>{{ actor.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/movie">Go Back</a>
{% endblock %}