{% extends 'base.html.twig' %}

{% block title %}Cinema Application{% endblock %}

{% block body %}
    <h1>{{ actor.actorName }}&nbsp;({{ actor.age }})</h1>
    <hr>
    <img src="/images/{{ actor.image }}", alt="Örnek Resim"
         width="200" height="200"
    />
    <hr>
    <div align="center"><h1>Filmleri</h1></div>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Director</th>
            <th>Release Year</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in actor.getMovie() %}
            <tr>
                <td>{{ movie.movieName }}</td>
                <td>{{ movie.Director }}</td>
                <td>{{ movie.ReleaseYear }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/actor">Go Back</a>
{% endblock %}